body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
  color: #000000;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

/*--ШАПКА-------------------------------------------------*/

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; /*позиционирование по центру*/
}

.page {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-style: normal;
  font-weight: 700;
}

.header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #000000;
  min-height: 497px;
  position: relative;
  padding-top: 29px;
}
/*--Подложка фона под контент--*/
.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.logo {
  width: 179px;
}

header a {
  color: #fff;
}

.menu {
  display: flex; /*--выравнивает в строку--*/
}


.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu li:nth-child(n + 2) {
  margin-left: 33px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header__burger {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }


.title {
  margin: 0 auto;
  max-width: 690px;
  position: relative;
  z-index: 3;
  margin-top: 126px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.6em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: none;
}

.popup__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup__content {
  margin: auto;
  width: 390px;
  background-color: #fff;
  color: #000000;
  position: relative;
  padding: 54px 30px;
}

.popup__title {
  text-align: center;
}

.popup__title::after {
  content: "";
    display: block;
    border-bottom: 3px solid #b59f5b;
    width: 66px;
    margin: 0 auto;
    margin-top: 14px;
  
  }

.form__group {
  display: block;
}

.field__label {
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  display: block;
  margin-top: 33px;
  margin-bottom: 9px;
}

.select {
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
 color: rgba(0, 0, 0, 0.54);
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 18px 14px 20px;
  background-color: #f4f7f6;
  border: none;
  outline: none;

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px;
 }

.select:focus {
  border-bottom: 1px solid #b59f5b;
}

.radio__group {
  display: inline-block;
  font-size: 13px;
}

.radio {
  display: none;
}

.radio__group-text::before {
content: "";
display: inline-block;
vertical-align: middle;
margin-right: 6px;
width: 16px;
height: 16px;
background-image: url(../svg/form-empty-circle.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: 16px;
}

.radio__group:nth-of-type(n+2) {
  margin-left: 15px;
}

.radio:checked + .radio__group-text::before {
  background-image: url(../svg/form-circle.svg);
}

 textarea {
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.54);
  max-width: 330px;
  min-width: 330px;
  max-height: 130px;
  min-height: 130px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
  padding: 21px 14px 96px 22px;
  resize: none;
  }

.submit {
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  padding: 19px 122px;
  width: 100%;
}

.submit:hover {
  border: 1px solid #ccc370;
}

.close__popup {
  position: absolute;
  top: -25px;
  right:0;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  cursor: pointer;
  }

.title__trends{
    text-align: center;
    margin-top: 59px;
}

  .title__trends::after {
    content: "";
    display: block;
    border-bottom: 3px solid #b59f5b;
    width: 66px;
    margin: 0 auto;
    margin-top: 14px;
  }

  .trends__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: stretch;
  }
  
   .trend {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      }
  
    .trend:nth-child(1) {
      margin-left: 0;
    }
  
    .trend:nth-child(4) {
      margin-right: 0;
    }

    .trend {
      margin-right: 4px;
      flex-grow: 1;
    }
  
  
    .trend-garden {
      background-image: url(../images/trend1.jpg);
      background-color: #000000;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 25%;
      position: relative;
      }
  
    .trend-garden::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #000000;
      opacity: 0.6;
      z-index: 1;
    }
  
   .trend-cheese {
    background-image: url(../images/trend2.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 25%;
    position: relative;
  }
  
  .trend-cheese::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
  }
  
  .trend-mountains {
    background-image: url(../images/trend3.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 25%;
    position: relative;
  }
  
  .trend-mountains::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
  }
  
  .trend-lemons {
    background-image: url(../images/trend4.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 25%;
    position: relative;
  }
  
  .trend-lemons::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
  }
  
  .trend_info {
    border: 3px solid #b59f5b;
    z-index: 1;
    padding: 39px 97px 32px 33px;
    margin: 158px 20px 16px;
    align-self: flex-end;
  }
  

.trend_item li a {
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
  margin-right: 20px;
  }

 .trend_item {
  display: flex;
 }

.trend_item li a:hover {
  text-decoration: underline;
}

.trend_item a {
  color: #b59f5b;
}

.trend_name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  font-family: inherit;
  color: #fff;
}

  /*--ОСНОВНОЙ КОНТЕНТ-------------------------------------------------*/
  /*--ОСНОВНОЙ КОНТЕНТ-------------------------------------------------*/
main {
  width: 778px;
}
.post {
  display: flex;
  margin-top: 64px;
}

.post_image {
  width: 381px;
  object-fit: cover;
  object-position: top left;
}

.post_info {
  width: 385px;
  
  margin-left: 30px;
}

.post_item li a {
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 19px;
}

.post_item a {
  color: #b59f5b;
}
.post_item li a:hover {
  text-decoration: underline;
}

.post_item {
  display: flex;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  font-family: inherit;
  margin-top: 15px;
  margin-bottom: 36px;
}

a {
  text-decoration: none;
  color: inherit;
}

.post_creator {
  font-size: 12px;
  font-weight: 700;
  color: inherit;
  font-family: inherit;
}

.post_date {
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  font-family: inherit;
  margin-right: 14px;
}

.post_content {
  font-size: 15px;
  font-weight: 400;
  color: #0f0d0e;
  font-family: inherit;
  line-height: 1.4em;
}
/*--ОСНОВНОЙ КОНТЕНТ ЗАКАНЧИВАЕТСЯ-------------------------------------------------*/

/*--БОКОВАЯ КОЛОНКА-------------------------------------------------*/

.sidebar-widget {
  width: 273px;
  margin-left: 120px;
}

.subtitle {
  margin-top: 62px;
  text-align: center;
}

.sidebar-title {
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.sidebar-title::after {
  content: "";
  display: block;
  border-bottom: 3px solid #b59f5b;
  width: 66px;
  margin: 0 auto;
  margin-top: 14px;
}

.sidebar_news {
  display: flex;
  margin-top: 25px;
}

.sidebar-info {
  margin-left: 17px;
}

.sidebar_image {
  width: 70px;
  object-fit: cover;
  object-position: top left;
}

.sidebar_date {
  display: block;
  font-size: 12px;
  line-height: 1em;
  font-weight: 400;
  color: #888888;
  font-family: inherit;
  margin: 0 0 5px;
 }

h4 {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  line-height: 1.25em;
}

.form {
  position: relative;
  margin-top: 52px;
  }

.field {
  width: 100%;
  height: 100%;
  padding: 19px 20px 19px;
  font-size: 14px;
  background: #f4f7f6;
  outline: none;
  border: none;
}

.form .search {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 53px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field:focus {
  border-bottom: 2px solid #b59f5b;
}

.form-group {
  margin-top: 23px;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  padding: 19px 82px 16px;
  color: #fff;
  background-color: #b59f5b;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 16px;
}

.button:hover {
  border-top: 1px solid #b59f5b;
}

.subtitle-group {
  margin-top: 24px;
}

.subtitle-tegs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.flex-teg {
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  font-family: inherit;
  text-transform: uppercase;
  color: #0f0d0e;
  border: 3px solid #f4f3f1;
  padding: 7px 13px;
  margin: 0 5px 6px 0px;
}

a {
  list-style-type: none;
}

.flex-teg:hover {
  border: 3px solid #b59f5b;
}

.subtitle-list {
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
}

.list::after {
  content: "";
  display: block;
  border-bottom: 2px solid #f4f3f1;

  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

.number-articles {
  vertical-align: super;
  font-size: 12px;
  font-weight: 700;
  font-family: inherit;
  color: #b59f5b;
  margin-left: 5px;
}
  
  .title__products{
    text-align: center;
    margin-top: 59px;
  }

  .title__products::after {
    content: "";
    display: block;
    border-bottom: 3px solid #b59f5b;
    width: 66px;
    margin: 0 auto;
    margin-top: 14px;
  }

.shop {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
}

.product__imgbox {
display: block;
margin-left: auto;
margin-right: auto;
}

.product {
  width: 33.3%;
  display: flex;
  flex-direction: column;
}

.product:nth-child(2n+2) {
  margin-right: 64px;
  margin-left: 64px;
}

.product__content {
  border: 3px solid #b59f5b;
  padding: 20px 20px 24px;
  margin-top: -30px;
  flex-grow: 1;
}

.product__title {
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
 
}

.product__description {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  font-family: inherit;
  margin-top: 0;
  
}

.description__hover {
  color: #b59f5b;
}

.description__hover:hover {
border-bottom: 1px solid #b59f5b;
}

.product__prices {
  display: flex;
  flex-direction: column;
}

.product__price {
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
  line-height: 1;
}

.product__price_old {
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
  text-decoration: line-through;
  margin-bottom: 4px;
 }

.product__button {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
  background-color: #b59f5b;
  padding: 20px 28px;
  width:60%;
}

.product__footer {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}


.footer {
  margin-top: 64px;
}

.social {
  background: #f4f7f6;
  height: 83px;
  width: 1170px;
  display: flex;
  justify-content: center;
  padding: 31px 0;
  align-items: center;
  margin: auto;
}

.social li:nth-child(n + 2) {
  margin-left: 29px;
}

.social__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social__link--dribble {
  background-image: url("../svg/001-dribbble.svg");
}

.social__link--pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social__link--tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  font-size: 12px;
  font-weight: 700;
  font-family: inherit;
  color: #999999;
  text-align: center;
  align-items: center;
  margin-bottom: 41px;
  margin-top: 74px;
}


/*PC*/
@media (min-width: 1200px) {
.container {
width: 1170px;
padding: 0 15px;
margin: 0 auto;
}

.header__burger {
display: none;
}

.header {
  width: 100%;
}
}

  
  
/*Tablet*/
/*Tablet*/
@media(min-width: 641px) and (max-width: 1200px) {
.container {
width: 698px;
padding: 0 35px;
margin: 0 auto;
}

.header {
background-image: url(../images/banner-bg-tablet.jpg);
width: 100%;
}

.menu {
display: none;
}

.header__burger {
display: block;
position: relative;
top: 0;
right: 0;
width: 25px;
height: 25px;
margin: 0;
}

.title {
margin: auto;
width: 603px;
position: relative;
z-index: 3;
margin-top: 100px;
font-size: 40px;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: none;
}

.popup__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup__content {
  margin: auto;
  width: 390px;
  background-color: #fff;
  color: #000000;
  position: relative;
  padding: 54px 30px;
}

.popup__title {
  text-align: center;
}

.popup__title::after {
  content: "";
    display: block;
    border-bottom: 3px solid #b59f5b;
    width: 66px;
    margin: 0 auto;
    margin-top: 14px;
  
  }

.form__group {
  display: block;
}

.field__label {
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  display: block;
  margin-top: 33px;
  margin-bottom: 9px;
}

.select {
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
 color: rgba(0, 0, 0, 0.54);
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 18px 14px 20px;
  background-color: #f4f7f6;
  border: none;
  outline: none;

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px;
 }

.select:focus {
  border-bottom: 1px solid #b59f5b;
}

.radio__group {
  display: inline-block;
  font-size: 13px;
}

.radio {
  display: none;
}

.radio__group-text::before {
content: "";
display: inline-block;
vertical-align: middle;
margin-right: 6px;
width: 16px;
height: 16px;
background-image: url(../svg/form-empty-circle.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: 16px;
}

.radio__group:nth-of-type(n+2) {
  margin-left: 15px;
}

.radio:checked + .radio__group-text::before {
  background-image: url(../svg/form-circle.svg);
}

 textarea {
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.54);
  max-width: 330px;
  min-width: 330px;
  max-height: 130px;
  min-height: 130px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
  padding: 21px 14px 96px 22px;
  resize: none;
  }

.submit {
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  padding: 19px 122px;
  width: 100%;
}

.submit:hover {
  border: 1px solid #ccc370;
}

.close__popup {
  position: absolute;
  top: -25px;
  right:0;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  cursor: pointer;
  }

.title__trends {
font-size: 18px;
text-align: center;
margin-top: 50px;
}


.trends__content {
  display: flex;
  flex-wrap: wrap;
}
 

.trend {
  margin-bottom: 4px;
  flex-grow: 1;
  margin-right: 0;
}

.trend:nth-child(odd) {
  margin-right: 4px;
}

.trend:nth-child(even) {
  margin-left: 0;
}

  .trend-garden {
    width:49%;
 }

 .trend-cheese {
  width:49%;
 }

.trend-mountains {
width:49%;
}

.trend-lemons {
width:49%;
}

.trend_item li a {
font-size: 14px;
}

.trend_name {
font-size: 17px;
}

.page {
  width: 698px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 35px;
}

main {
  width: calc(100% - 20px);
  margin-right: 20px;
}
.post {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  }

.post::after {
  content: "";
  display: block;
  border-bottom: 2px solid #f4f3f1;
  width: 100%;
  margin: 0 auto;
 }

.post_info {
  height: 100%;
  margin-left: 0px;
}

.post_item li a {
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 19px;
}

h2 {
  font-size: 17px;
 }

.sidebar-widget {
  width: calc(100% - 15px);
  margin-left: 15px;
  }

.flex-teg {
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  font-family: inherit;
  text-transform: uppercase;
  color: #0f0d0e;
  border: 3px solid #f4f3f1;
  padding: 7px 13px;
  margin: 0 5px 6px 0px;
}

.subtitle {
  margin-top: 40px;
  text-align: center;
}


.title__products{
  text-align: center;
  margin-top: 50px;
}

.shop {
display: flex;
flex-wrap: wrap;
margin: 0 auto;
justify-content: space-between;
padding: 0 35px;
}

.product__imgbox {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 100%;
text-align: center;
}

.product {
width: 49%;
display: flex;
flex-wrap: wrap;
margin-bottom: 24px;
}

.product:nth-child(odd) {
  margin-right: 1%;
}

.product:nth-child(even) {
  margin-left: 1%;
  margin-right: 0;
}

.product:last-child{
  margin-bottom: 0;
}

.product__title {
font-size: 17px;
text-transform: uppercase;
font-family: inherit;
font-weight: 700;

}

.product__content {
  border: 3px solid #b59f5b;
  padding: 30px 20px 24px;
  margin-top: -30px;
  
}

.product__description {
font-size: 15px;
font-weight: 400;
color: #000000;
font-family: inherit;
margin-bottom: 0;
}

.footer {
  padding: 0 35px;
}

.social {
width: 100%;
  
}

.copyright {
  margin-top: 50px;
}
}




/*Mobile*/

@media(min-width: 320px) and (max-width: 640px) and (orientation: landscape) {
  .trends__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
     
    .trend {
    margin-right: 0;
    flex-grow: 1;
    margin-bottom: 4px;
  }

  .trend:nth-child(odd) {
    margin-right: 4px;
  }
  
  .trend:nth-child(even) {
    margin-left: 0;
  }
  
    .trend-garden {
      width:50%;
   }
  
   .trend-cheese {
    width:50%;
   }
  
  .trend-mountains {
  width:50%;
  }
  
  .trend-lemons {
  width:50%;
  }
}


@media(min-width: 320px) and (max-width: 640px) {
.container {
width: 100%;
flex-direction: column;
padding: 0 15px;
}

.header {
  background-image: url(../images/banner-mobile.jpg);
  width: 100%;
  min-height: 100vh;
  }
  
.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

  .menu {
  display: none;
  }
  
  .header__burger {
  display: block;
  position: relative;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  margin: 0;
  align-self: flex-end;

  }
  

.logo {
  width: 270px;
  margin-top: 174px;
}
  
  .title {
  margin-top: 0;
  font-size: 26px;
  line-height: 1.4em;
  text-align: center;
  margin-top: 42px;
  width: 100%;
  }
  
  .popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
    display: none;
  }
  
  .popup__container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .popup__content {
    margin: auto;
    width: 390px;
    background-color: #fff;
    color: #000000;
    position: relative;
    padding: 54px 30px;
  }
  
  .popup__title {
    text-align: center;
  }
  
  .popup__title::after {
    content: "";
      display: block;
      border-bottom: 3px solid #b59f5b;
      width: 66px;
      margin: 0 auto;
      margin-top: 14px;
    
    }
  
  .form__group {
    display: block;
  }
  
  .field__label {
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    display: block;
    margin-top: 33px;
    margin-bottom: 9px;
  }
  
  .select {
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
   color: rgba(0, 0, 0, 0.54);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 18px 14px 20px;
    background-color: #f4f7f6;
    border: none;
    outline: none;
  
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 12px;
   }
  
  .select:focus {
    border-bottom: 1px solid #b59f5b;
  }
  
  .radio__group {
    display: inline-block;
    font-size: 13px;
  }
  
  .radio {
    display: none;
  }
  
  .radio__group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  }
  
  .radio__group:nth-of-type(n+2) {
    margin-left: 15px;
  }
  
  .radio:checked + .radio__group-text::before {
    background-image: url(../svg/form-circle.svg);
  }
  
   textarea {
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.54);
    max-width: 330px;
    min-width: 330px;
    max-height: 130px;
    min-height: 130px;
    background-color: #f4f7f6;
    border: none;
    outline: none;
    padding: 21px 14px 96px 22px;
    resize: none;
    }
  
  .submit {
    font-size: 14px;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
    padding: 19px 122px;
    width: 100%;
  }
  
  .submit:hover {
    border: 1px solid #ccc370;
  }
  
  .close__popup {
    position: absolute;
    top: -25px;
    right:0;
    width: 18px;
    height: 18px;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    cursor: pointer;
    }
  
  .title__trends {
  font-size: 16px;
  text-align: center;
  margin-top: 44px;
  }
  
  
  .trends__content {
    display: flex;
    flex-direction: column;

  }
     
    .trend {
    margin-right: 0;
    flex-grow: 1;
    margin-bottom: 4px;
  }

  
    .trend-garden {
      width:100%;
   }
  
   .trend-cheese {
    width:100%;
   }
  
  .trend-mountains {
  width:100%;
  }
  
  .trend-lemons {
  width:100%;
  }
  
  .trend_item li a {
  font-size: 14px;
  }
  
  .trend_name {
  font-size: 16px;
  }
  
  .trend_info {
    border: 3px solid #b59f5b;
    z-index: 1;
    padding: 33px 0 20px 26px;
    margin: 158px 10px 16px;
    align-self: flex-end;
  }

  .page {
    max-width: 100%;
    padding: 0 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  main {
    width: 100%;
    margin: auto;
    margin-right: 0;
  }
  .post {
    display: block;
    margin-top: 40px;
    }
  
  .post::after {
    content: "";
    display: block;
    border-bottom: 2px solid #f4f3f1;
    width: 100%;
    margin: 0 auto;
   }
  
   .post_image {
   width: 100%;
   }

  .post_info {
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
  }
  
  .post_item li a {
    font-size: 14px;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 19px;
  }
  
  h2 {
    font-size: 17px;
    margin-bottom: 24px;
   }
  
  .sidebar-widget {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
    }
  
    .subtitle-tegs {
      justify-content: space-between;
    }

  .flex-teg {
    font-size: 12px;
    font-weight: 700;
    line-height: 1em;
    font-family: inherit;
    text-transform: uppercase;
    color: #0f0d0e;
    border: 3px solid #f4f3f1;
    padding: 7px 13px;
    margin: 0 5px 6px 0;
    }
    
    
  .subtitle {
    margin-top: 40px;
    text-align: center;
  }
  
    .title__products{
    text-align: center;
    margin-top: 50px;
  }
  
  .shop {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 15px;
  }
  
  .product__imgbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  }
  
  .product:nth-child(n) {
  margin-left: 0;
  margin-right: 0;
  }
  
  .product:last-child{
  margin-bottom: 0;
  }

  .product__title {
  font-size: 17px;
  margin-top: 24px;
  }
  
  .product__content {
    border: 3px solid #b59f5b;
    padding: 20px 20px 24px;
    margin-top: -30px;
  
  }
  
  .product__description {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  font-family: inherit;
  margin-top: 0;
  margin-bottom: 22px;
  }
  
  .footer {
    width: 100%;
  }
  
  .social {
    width: 90%;
  }
  
  .copyright {
    margin-top: 43px;
  }
  }
